@font-face {
    font-family: contlightfree;
    src: url(/static/fonts/Intro-Cond-Light.otf);
    font-style: normal;
}

@font-face {
    font-family: contblackfree;
    src: url(/static/fonts/Intro-Cond-Black.otf);
    font-style: normal;
}

/*---------------   ОБЩАЯ СТИЛИЗАЦИЯ   ------------------ */

body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'contlightfree', 'contblackfree', 'PT Sans', 'sans serif';
    font-size: 16px;
    letter-spacing: 2px;
    color: #000000;
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
}

.button {
    border: none;
    text-transform: uppercase;
    font-family: 'contblackfree';
    color: #ffffff;
    cursor: pointer;
}

.button,
.profile-user-numerator,
.main-navigation li {
    background-color: #a21421;  
}

.main-navigation a {
    color: #ffffff;
}

/* ЭТОТ ПРВИЛО СКРЫВАЕТ ЗАГОЛОВКИ, НО ДЛЯ ЧИТАЛОК, ПОИСКОВИКОВ ОНИ ВИДНЫ */
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/*-------------   FLEX СЕТКА ДЛЯ КРУПНЫЙ КОНТЕЙНЕРОВ  ------------ */
.left-sidebar,
.right-sidebar {
    width: 222px; 
}

.page-wrapper {
    display: flex;
    display: -webkit-flex;
    width: 1280px;
    height: 800px;
    margin: 0 auto;
}

.left-sidebar,
.right-sidebar,
.main-content {
    display: flex;
    display: -webkit-flex;
    margin: 0 auto;
    flex-direction: column;
    -ms-flex-direction: column;
}

/*---------------   ЛЕВАЯ КОЛОНКА   ------------------ */
.main-menu {
    margin-left: 66px;
    margin-top: 43px;
}

.page-navigation {
    position: relative;
    margin-top: 30px;
}

.page-navigation > img {
    cursor: pointer;
}

/*--- выпадающие меню ---*/
.main-navigation {
    position: absolute;
    width: 575px;
    height: 505px;
    display: flex;
    display: -webkit-flex;
    left: 155px;
    top: -30px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    visibility: hidden;
}

.main-navigation-item:first-child::after {
    content: "";
    display: block;
    position: absolute;
    width: 0; height: 0;
    border-top: 40px solid transparent;
    border-right: 60px solid #a21421;;
    border-bottom: 40px solid transparent;
    left: -55px;
    top: 30px;
}
    

.main-navigation-item {
    width: 185px;
    height: 165px;
    display: flex;
    font-family: 'contblackfree';
    font-size: 26px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding-right: 2px;
}

.main-navigation-item:first-child,
.main-navigation-item:last-child {
    width: 370px;
    height: 165px;
    align-self: center
}

.main-navigation-item:first-child {
    padding-right: 10px;
}

.main-navigation-item:last-child {
    padding-left: 5px;
}

/*---------------      КОНТЕНТ   ------------------ */

.main-content  {
    background-color: #f0f0f0;
    width: 835px;
}

.container {
    display: flex;
    display: -webkit-flex;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
    -ms-flex-direction: row;   
}

.profile-information {
    height: 340px;
}

/*---  профайл вверх---*/
.profile-title {
    margin-top: 38px;
    height: 135px;
    text-align: center;
}

/*--- профиль середина ---*/
.profile-information img {
    margin-top: 18px;
    margin-left: 72px;
}

.information {
    width: 208px;
    height: 270px;
    margin-left: 55px;
    padding: 0;
}

.information p {
    font-size: 26px;
    letter-spacing: 3px;
    font-family: 'contblackfree';
    margin: 0;
    padding-top: 11px;   
}

.information-list {
    margin-top: 28px;
}

.information-list li{
    font-size: 18px;
    padding-bottom: 7px;
}

.button-information-edit {
    width: 180px;
    height: 35px;
    font-size: 22px;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}

.profile-user-numerator {
    width: 160px;
    height: 50px;
    margin-left: 78px;
    margin-top: 0;
    text-align: center;
    font-size: 36px;
    padding-top: 5px;
    font-family: 'contblackfree';
}
/*--- профайл низ ---*/

.equipment-list {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 0;
    width: 720px;
    font-size: 18px;
    text-align: center;
}

.equipment-item {
    width: 118px;   
}

.equipment-item::after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    top: 15px;
    left: 2px;
    border: 7px solid #a21421;

}

/*---------------   ПРАВАЯ КОЛОНКА   ------------------ */

.button-user-navigation-exit {
    width: 75px;
    height: 75px;
    margin-left: 72px;
    margin-top: 40px;
    cursor: pointer;
}


/*---------------   СТРАНИЦА ОБО МНЕ   ------------------ */

.aboutme-form {
    width: 520px;
    margin: 0 auto;
}

.aboutme-field {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: none;
    margin-top: 90px;
}

.aboutme-field legend {
    text-align: center;
    font-family: contblackfree;
    font-size: 36px;
    letter-spacing: 7px;
    color: #a21421;
    padding: 0;
    text-align: center; /* почему не сработал на легенду*/
    padding-left: 15px;
    margin-bottom: 40px;
}

.aboutme-field label {
    font-size: 22px;
    color: #a21421;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

input[type=text] {
    width: 260px;
    height: 25px;
    border: 2px solid #a21421;
}

.sex,
.birthday,
.country,
.day,
.month,
.year  {
    border: none;
    background-color: #a21421;
    color: #ffffff;
    height: 30px;
    font-size: 21px;
}

.day,
.month,
.year {
    font-size: 10px;
    width: 70px;
    height: 30px;
    font-weight: bold; 
}

.day {
    font-size: 23px;    
}

.year {
    font-size: 20px;
}

.month {
    font-size: 23px;        
}

.day:first-child {
 margin-left: 12px;
}

.sex {
    width: 90px;
    height: 30px;
    margin-right: 175px;
    font-size: 12px;
}

.country {
    width: 265px;
    height: 30px;
    font-family: serif;
}

.aboutme-button {
    width: 170px;
    height: 35px;
    margin-left: 180px;
    margin-top: 15px;
    letter-spacing: 5px;
}